/* LOGIN FORM */

.login {
    background: #f8f8f8;
    height: 100%;
}

.login #header {
    height: auto;
    padding: 15px 16px;
    justify-content: center;
}

.login #header h1 {
    font-size: 18px;
}

.login #header h1 a {
    color: #fff;
}

.login #content {
    padding: 20px 20px 0;
}

.login #container {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
    height: auto;
}

.login .form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
    border-bottom: none;
}

.login .form-row label {
    padding-right: 0.5em;
    line-height: 2em;
    font-size: 1em;
    clear: both;
    color: #333;
}

.login .form-row #id_username, .login .form-row #id_password {
    clear: both;
    padding: 8px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login .submit-row {
    clear: both;
    padding: 1em 0 0 9.4em;
    margin: 0;
    border: none;
    background: none;
    text-align: left;
}

.login .password-reset-link {
    text-align: center;
    margin: 1em 0;
}

.errornote {
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: 10px 12px;
    margin: 0 0 10px 0;
    color: #ba2121;
    border: 1px solid #ba2121;
    border-radius: 4px;
    background-color: #fff;
    background-position: 5px 12px;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
    .login {
        background: #121212;
    }

    .login #container {
        background: #1f1f1f;
        border-color: #2d2d2d;
    }

    .login .form-row label {
        color: #fff;
    }

    .login .form-row #id_username,
    .login .form-row #id_password {
        background: #121212;
        border-color: #2d2d2d;
        color: #fff;
    }
}